/*
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

nav .logo{
    width: 100px;
    margin-left: 60px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}






.contact-container{
    background-image: url("images/contact_form_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid grey;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
}

.contact-info-title h2{
    font-weight: 600px;
    font: "Garamond";
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: white;
    border-radius: 50px;
}

.contact-inputs:focus{
    border: 2px solid black;
}

.contact-inputs::placeholder{
    color: grey;
}

.contact-info button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, orange, black);
    cursor: pointer;
    margin-top: 10px;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

    .contact-inputs{
        width: 80vw;
    }
}


Footer Begins 
.footer{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

footer{
    background: #343434;
    padding-top: 50px;
}

.footer-info{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.33%;
}

.footer-content h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: orange;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}

.list li a{
    text-decoration: none;
    color: white;
}

.list li a:hover{
    color: orange;
}

.bottom-bar{
    background: orange;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/*Footer Ends */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: Playfair Display;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
}


/*Navbar*/
header{
    width: 1140px;
    max-width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    margin-left: 40px;
    margin-top: 20px;
}

header a{
    margin-right: 40px;
    font-size: 20px;
    margin-top: 20px;
    transform: 0.5s;
}

header a:hover{
    text-decoration: underline;
    color: #e03fd8;
    transition: .5s;
}

.logo{
    width: 80px;
}



/*Hero*/
.hero{
    height: 100vh;
    width: 100%;
    margin-top: -70px;
    position: relative;
}

.hero .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .hero .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .hero .back-video{
        width: auto;
        height: 100%;
    }
}

.hero .content{
    width: 600px;
    position: absolute;
    top: 40%;
    left: 15%;
    opacity: 1;
    animation: headeranimate 2s ease;
}

@keyframes headeranimate{
    0%{
        opacity: 0;
        transform: translateY(70%)
    }
    100%{
        opacity: 1;
    }
}

.hero .content h1{
    font-size: 5rem;
    margin-bottom: 30px;
}

.hero .content .h1US{
    color: #e03fd8;
}

.hero .content h5{
    line-height: 30px;
    margin-bottom: 20px;
}

/*Position Background Animation*/
.wrapper span{
    position: absolute;
    bottom: -1140px;
    height: 50px;
    width: 50px;
    z-index: 1;
    background-color: #18191f;
    box-shadow: 0 0 50px #e03fd8, 0 0 100px #e03fd8, 0 0 150px #e03fd8, 0 0 200px #e03fd8;
    animation: animate 15s linear infinite;
}

.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 1s;
}

.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 5s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 4s;
}

.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 7s;
    width: 80px;
    height: 80px;
}

.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 3s;
}

.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 9s;
}

.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 8s;
    width: 100px;
    height: 100px;
}

.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 10s;
}

.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 8s;
    width: 90px;
    height: 90px;
}

.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 6s;
}

@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
}

/*Positions*/
.positions{
    height: 110vh;
    background: #1a1a1a;
}
.positions h1{
    color: #e03fd8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 80px;
}

.positioncards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.position{
    background-color: #343434;
    color: white;
    width: 400px;
    height: 650px;
    margin: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.position h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.position p{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.position:hover{
    background-color: #e03fd8;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.position-image{
    height: 250px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-size: cover;
}

.position-image-1{
    background-image: url('images/position1.jpg');
}

.position-image-2{
    background-image: url('images/position2.jpg');
}

.position-image-3{
    background-image: url('images/position3.jpg');
}


/*Form*/
.contact-container{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/contactformbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 70px;
    border-radius: 8px;
    background: #1a1a1a;
    box-shadow: 0px 0px 50px #e03fd8;
}

/*.contact-info:hover{
    animation: animate 1s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}*/

.contact-info-title h2{
    font-weight: 600px;
    color: #e03fd8;
    font-size: 70px;
    margin-bottom: 10px;
}

.contact-inputs{
    position: relative;
    width: 400px;
    margin-top: 35px;
}

.contact-inputs input{
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    border: none;
    position: relative;
    z-index: 10;
}

.contact-inputs span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.contact-inputs input:valid ~ span,
.contact-inputs input:focus ~ span{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.contact-inputs i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #e03fd8;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.contact-inputs input:valid ~ i,
.contact-inputs input:focus ~ i{
    height: 44px;
}

.contact-text{
    border: none;
    outline: none;
    font-weight: 500px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    height: 200px;
    width: 450px;
    text-align: center;
}

.contact-info button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #e03fd8, black);
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.resumetitle{
    font-size: 30px;
    color: #e03fd8;
    margin-top: 20px;
}
.contact-file{
    font-size: 16px;
    background: #242424;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width: 350px;
    outline:none;
    height: 65px;
    color: white;
}

::-webkit-file-upload-button{
    color: white;
    background: #e03fd8;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
}

::-webkit-file-upload-button:hover{
    background: #c437bd;
}

/*Footer*/ 
.footer{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

footer{
    background: #1a1a1a;
    padding-top: 50px;
}

.footer-info{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 50%;

}

.footer-content h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #e03fd8;
}

.footer-content p{
    width: 300px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #e03fd8;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}

.list li a{
    text-decoration: none;
    color: white;
}

.list li a:hover{
    color: #e03fd8;
}

.bottom-bar{
    background: #e03fd8;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}